{% extends 'HotelsAdminTemplateBundle::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '../vendor/Mottie/tablesorter/css/theme.default.css'
    filter='?cssrewrite'
    filter="?uglifycss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '../vendor/Mottie/tablesorter/js/jquery.tablesorter.js'
    'bundles/buildinvestredirect/js/sortlist.js'
    filter='?uglifyjs2'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block main %}
<div class="page-content redirection">
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage  }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            {{ flashMessage  }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="row-fluid">
            <div class="span3">
                {% block left_nav %}
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Actions</li>
                        <li><a href="{{ path('redirection_new') }}"><i class="icon-plus-sign"></i> {{ 'New redirection' | trans }}</a></li>
                    </ul>
                </div>
                {% endblock %}
            </div>
            <div class="span9">
                {% block main_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}