{% extends 'BuildinvestRedirectBundle::layout.html.twig' %}

{% block main_content %}
    <h1>Redirection edit</h1>

    <form action="{{ path('redirection_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="btn btn-primary">Edit</button>
            <a href="{{ path('redirection') }}" class="btn">
                Back to the list
            </a>
        </p>
    </form>
    <form action="{{ path('redirection_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}