{% extends 'BuildinvestRedirectBundle::layout.html.twig' %}

{% block main_content %}
    <h1>{{ 'Redirections' | trans }}</h1>

    <table class="table table-striped tablesorter">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'Source url' | trans }}</th>
            <th>{{ 'Destination url' | trans }}</th>
            <th>{{ 'Http code' | trans }}</th>
            <th>{{ 'Actions' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>#</td>
                <td><a href="{{ path('redirection_show', { 'id': entity.id }) }}">{{ entity.sourceUrl }}</a></td>
                <td>{{ entity.destinationUrl }}</td>
                <td>{{ entity.httpCode }}</td>
                <td>
                    <a href="{{ path('redirection_edit', { 'id': entity.id }) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}