{% extends 'BuildinvestRedirectBundle::layout.html.twig' %}

{% block main_content %}
<h1>Redirection creation</h1>

<form action="{{ path('redirection_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p class="actions">
        <button type="submit" class="btn btn-primary">Create</button>
        <a href="{{ path('redirection') }}" class="btn">Back to the list</a>
    </p>
</form>
{% endblock %}